
*, * ::before, *::after {

  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{

  padding: 0;
  margin: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  
  justify-content: center;
  align-items: center;
  background-color: rgb(41, 149, 168);
}

.main-container{

  width: 800px;
  max-width: 80%;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
box-shadow: 0 0 10px 2px;
}


.btn-grid{
display: grid;
grid-template-columns: repeat(2, auto);
gap:10px;
margin: 20px 0;
}


/* 
header {padding: 20px 35px;
  background-color: #39a6b2;
 
padding: 50px;
margin: 50px 50px 0 0;
width: 100%;
top: 0;

}
header h1{
font-size: 50px;
text-align: center;
flex-wrap: wrap;
}
#timer{
top: 60px;
padding:0px ;
height: 100px;
width: 200px;
right: 200px;
} */


/* this p is for the timer */
/* p {
    color: royalblue;
    display: flex;
    font-size: 50px;
    height: 200px;
    width: 200px;
    padding: 2px;
    border-radius: 30px;
    background: white;
    align-items: center;
    justify-content: center;
    position:absolute;
    right: 100px
     } */

  .btn {
    background-color: khaki;
    border: 3px solid black;
    border-radius: 5px;
    padding: 5px 10px;
    color: black;
    }
   
.btn:hover{
  border-color: red;
}

.btn.correct{
  background-color:  green;
}
.btn.wrong{
  background-color: red;
}

.start-btn, .next-btn {
  font-size: 30px;
  font-weight: bold;
  padding:  10px 20px;
}

.controls {
display: flex;
justify-content: center;
align-items: center;
}

.hide{
display: none;

}

/* .main-container{
  width: 800px;
  max-width: 80%;

}

.question-container {
  background-image: url(../images/abstract-blue-background.jpg);
  background-size: cover; 
  width: 800px;
  max-width: 80%;
  ;

}   
.question-title{
  color: white;
font-size: 50px;
position: relative;
  padding: 100px;
}

#answerResponse{
  color: green;
  
  font-size: 40px;
}

#answerResponse1{
  color: red;
  
  font-size: 40px;
} */