
body{
text-align: center;

}


header {padding: 20px 35px;
  background-color: #39a6b2;
 
padding: 50px;
margin: 50px 50px 0 0;
width: 100%;
top: 0;

}
header h1{
font-size: 50px;
text-align: center;
flex-wrap: wrap;
}
#timer{
top: 60px;
padding:0px ;
height: 100px;
width: 200px;
right: 200px;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
/* this p is for the timer */
p {
    color: royalblue;
    display: flex;
    font-size: 50px;
    height: 200px;
    width: 200px;
    padding: 2px;
    border-radius: 30px;
    background: white;
    align-items: center;
    justify-content: center;
    position:absolute;
    right: 100px
     }

  .button {
      background-color: white;
      display: inline-block;
      border: none;
      color: black;
      padding: 20px;
      font-size: 30px;
      margin: 30px 150px;
      cursor: pointer;
      width: 600px;
    }
    
.question-hero {
  background-image: url(../images/abstract-blue-background.jpg);
  

  background-size: cover; 
  height: 700px;
  margin: 50px 50px 0 0;
  width: 100%;

}   
.question-title{
  color: white;
font-size: 50px;
position: relative;
  padding: 100px;
}

#answerResponse{
  color: green;
  
  font-size: 40px;
}

#answerResponse1{
  color: red;
  
  font-size: 40px;
}